.about {
  background-image: url("/pichcmus2.jpg");
  height: 85%;
  /* width: 1440px; */
  width: 100%;
  position: absolute;
  background-size: 110% 110%;
  background-repeat: no-repeat;
  /* position: relative; */
}
.about1 {
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 50%;
}
.h1 {
  color: wheat;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 100px;
  /* letter-spacing: 0.01rem; */
}
.h2 {
  font-size: 20px;
}

.button24 {
  background: rgb(71, 173, 180);
  border: 1px solid rgb(71, 173, 180);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  /* font-size: 50px; */
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  /* line-height: 46px; */
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button24:hover,
.button24:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(71, 173, 180);
}

.button24:active {
  opacity: 0.5;
}
